.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.card{
    width: 300px;
}
.card .card-image .card-title{
    color: black;
    font-weight: 400
}
.cart{
    margin-top:40px;
}
.collection .collection-item{
    display: flex;
}

.item-desc{
    align-self:center;
}

.flex-container {
    display:flex;
    justify-content:space-around;
    margin-top:10px;
}
